html {
    background-color: #505050;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

div.menu {
    position: relative;
    top: 0px;
    width: 100%;
    background-color: #404040;
    padding: 15px;
}

div.menu a {
    font-size: 20pt;
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

div.main {
    margin: 15px;
}

div.impressum {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #404040;
    padding: 15px;
}

div.impressum p {
    margin: 1px;
}

div.impressum h1 {
    margin-top: 0px;
}

div.impressum a {
    color: white;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    border: 1px solid;
}

td.game {
    background: #707070;
    text-align: center;
    width: 50px;
    height: 50px;
}
